@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Inknut Antiqua", "sans-serif";
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  text-align: center;
}

header h1 {
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 0px;
}

header h2 {
  margin-top: 0px;
  margin-bottom: 30px;
}

button:active,
button:hover {
  text-decoration: none;
}
